/* Navbar.css */
.navbar {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    box-sizing: border-box;
    border-bottom: 2px solid #14382C !important;

}

.badge{
    margin-right: 10px;
    font-size: 18px;
}

.navbar-title {
    font-size: 1.5em;
}

.navbar-auth {
    display: flex;
    align-items: center;
}
.bg-custom {
    background-color: #F6F5EC !important;
}

.btn-custom-outline {
    color: #14382C !important;
    border-color: #14382C !important;
    background-color: transparent !important;
}

.btn-custom-outline:hover {
    color: #ffffff !important;
    background-color: #14382C !important;
    border-color: #14382C !important;
}
