.btn-custom {
    color: #F6F5EC !important;
    border-color: #14382C !important;
    background-color: #14382C !important;
}

.btn-custom:hover {
    color: #FFFFFF !important;
    border-color: #32564a !important;
    background-color: #32564a !important;
}

.btn-custom-outline {
    color: #14382C !important;
    border-color: #14382C !important;
    background-color: transparent !important;
}

.btn-custom-outline:hover {
    color: #ffffff !important;
    background-color: #32564a !important;
    border-color: #32564a !important;
}