.sidebar {
    height: 100%;
    background-color: #14382C;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.sidebar a {
    color: #F6F5EC;
    text-decoration: none;
    margin: 0.5rem 0;
    font-size: 1.1rem;
    transition: all 0.2s ease-in-out;
    padding-left: 20%;
}

.sidebar a:hover,
.sidebar a:focus,
.sidebar a:active {
    color: #F6F5EC;
    text-decoration: underline;
}

/* Stile del link attivo */
.sidebar a.active {
    text-decoration: underline;
    font-weight: bold;
    color: #F6F5EC;
}
.sidebar-subitem {
    font-size: 0.9rem!important;
    padding-left: 24px;
    position: relative;
    display: flex;
    align-items: center;
    color: #555;
    margin-top: 1px!important;
}

.sidebar-subitem .dot {
    height: 6px;
    width: 6px;
    background-color: #555;
    border-radius: 50%;
    margin-right: 8px;
}