.custom-card {
    border: 2px solid #14382C !important;
    transition: all 0.3s ease;
}

.custom-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(20, 56, 44, 0.2) !important;
}

.btn-contact-filled {
    background-color: #14382C !important;
    border: 2px solid #14382C !important;
    color: #F6F5EC !important;
    padding: 12px 30px !important;
    font-size: 1.2rem !important;
    transition: none !important;
}

/* Rimuoviamo tutti gli effetti hover */
.btn-contact-filled:hover,
.btn-contact-filled:focus,
.btn-contact-filled:active {
    background-color: #32564a !important;
    border-color: #32564a !important;
    color: white !important;
    box-shadow: none !important;
}


.process-step {
    background-color: #f8f9fa;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.process-step:hover {
    background-color: #e9ecef;
}


.decorative-line-gradient {
    content: '';
    display: block;
    width: 70%;  /* puoi modificare la lunghezza */
    height: 3px;
    background: linear-gradient(to right, transparent, #14382C, transparent);
    margin: 20px auto;
}


